<div class="home-container">
    <!-- Sección de presentación -->
    <div class="home-left">
      <h2>Quiénes Somos</h2>
      <p>
        Bienvenido a nuestra barbería. Somos un equipo de profesionales dedicados
        a brindarte los mejores servicios de cuidado personal. Con años de
        experiencia y una pasión por lo que hacemos, te aseguramos que saldrás
        renovado después de una visita a nuestra barbería.
      </p>
    </div>
  
    <!-- Carrete de fotos -->
    <div class="home-right">
      <div class="carousel">
        <img [src]="currentImage" alt="Imagen de la barbería" class="carousel-image">
      </div>
    </div>
  </div>
  