<nav class="navbar">
    <div class="navbar-left">
      <img src="../../../assets/barber_icon.jpeg" alt="Logo" class="logo">
    </div>
    <div class="navbar-center">
      <a routerLink="/appointments" class="nav-link">Appointments</a>
      <a routerLink="/services" class="nav-link">Services</a>
      <a routerLink="/photos" class="nav-link">Photos</a>
    </div>
    <div class="navbar-right">
      <img src="../../../assets/user_profile.jpeg" alt="User Profile" class="user-icon">
    </div>
  </nav>
  