/* src/styles.css */
:root {
    --primary-color: #ffcc00;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    color: var(--primary-color);
  }

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Evita que la página tenga scroll */
  }
  
  